<!-- <div calss="overlay"></div> -->
<div class="login-form-container">
    <div class="login-form">
        <div class="cancel-button-div">
                <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <h2>Please Login Here 2</h2>
        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" #username required>
      
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" #pswd required>
              
            <button type="submit" (click)="onLogin(username, pswd)">Login</button>
            <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
          </div>
    </div>
</div>
